<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>

<!--HEADER-->
<div th:insert="common/header.html" id="header"></div>

<a th:href="@{/post}">글쓰기</a>

<table>
    <thead>
    <tr>
        <th class="one wide">No</th>
        <th class="ten wide">Title</th>
        <th class="two wide">Writer</th>
        <th class="three wide">Created</th>
    </tr>
    </thead>
    <tbody>
    <!-- CONTENTS -->
    <tr th:each="board : ${boardList}">
        <td>
            <span th:text="${board.id}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${board.id}}">
                <span th:text="${board.title}"></span>
            </a>
        </td>
        <td>
            <span th:text="${board.writer}"></span>
        </td>
        <td>
            <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
    </tbody>
</table>

<!-- 페이징 -->
<div>
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
    </span>
</div>


<!-- 검색 form -->
<form action="/board/search" method="get">
    <div>
        <input name="keyword" type="text" placeholder="검색어를 입력해주세요" />
    </div>
    <button>Search</button>
</form>

<!--FOOTER-->
<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>